body{
   background: url()
 }
 #header-content{
    background-color: #EFFAFF;
    box-shadow: 9px 9px 5px #232323;
 }
 header{
    text-align: center;
    font-weight: bolder;
    font-family: cursive;
 }
 #user-info{
    margin-top: 50px;
 }
 label{
    font-size: 25px;
    font-weight: bold
 }
 main{
    background-color: #C4B7FF;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 25px;
    box-shadow: 9px 9px 5px #232323;
 }
 #input{
    margin-top: 20px;
    margin-left: 400px;
    position: relative;
 }
 #button{
    background-color: #232323;
    color: #E8E8E8;
 }
 #footer-info{
    background-color: #EFFAFF;
    box-shadow: 9px 9px 5px #232323;
 }
 #contact-us{
    text-align: center;
    font-weight: bold;
 }
 footer{
    text-align: center;
    font-weight: bold;
    margin-bottom: 0px;
 }
 
ul{
   list-style-type: none;
}
body{
   /*background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnsWGxSeknmw8QUiEkTc23WHwMElr33wBUcOIW-2zrCIphp0DD9w);*/
   background-image: url(https://www.tahquamenonfallsbrewery.com/images/Tahquamenon_Falls_Brewery/Tahquamenon_Brewery_Lunch1.jpg);
   background-repeat: no-repeat;
   background-size: 100%;
}

 
#under-age {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
  font-size: 24px;
  margin-left: 550px;
  position: relative;
  background-image: url(https://www.tabc.state.tx.us/licensing/bg_permit/lessonbuilder_files/No-Alcohol-Under-21-resized.gif);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 525px;
  color: black;
  }

  #brewChew, #age-checker {      
     margin-top: 100px;
     margin-left: 500px;
     color: black;
  }
     

#brewBtn, #chewBtn, .btn {
  background-color: #232323;
  color: #E8E8E8;
}


.page3, .page2, .page1, .page0 {
   display: none;
}


#header-content{
   background-color: #EFFAFF;
   box-shadow: 9px 9px 5px #232323;
   
}
header{
   text-align: center;
   font-weight: bolder;
   font-family: cursive;
}

#user-info{
   margin-top: 10px;
}

label{
   font-size: 25px;
   font-weight: bold
}

main{
   background-color: #C4B7FF;
   margin-top: 50px;
   margin-bottom: 50px;
   padding: 20px;
   box-shadow: 9px 9px 5px #232323;
}
#input{
   margin-top: 20px;
   margin-left: 400px;
   position: relative;
}
#button{
   background-color: #232323;
   color: #E8E8E8;
}
#footer-info{
  background-color: #EFFAFF;
  box-shadow: 9px 9px 5px #232323;
}
#contact-us{
  text-align: center;
  font-weight: bold;
}
footer{
  text-align: center;
  font-weight: bold;
  margin-bottom: 0px;
}




button:hover {
 color: red;
}
