body{
   background-image: url(https://www.tahquamenonfallsbrewery.com/images/Tahquamenon_Falls_Brewery/Tahquamenon_Brewery_Lunch1.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   font-weight: bold;
}
 
#under-age {
   margin-top: 60px;
   padding: 20px;
   font-size: 24px;
   margin-left: 250px;
   position: relative;
   height: 525px;
   color: black;
}

img {
      height: 400px;
      width: 400px;
      margin-left: 100px;
}

#brewChew, #age-checker {      
     margin-top: 200px;
     margin-left: 350px;
     color: black;
     font-size: 34px;
}

h1 {
     font-size: 40px;
}
     
#brewBtn, #chewBtn, .btn {
  background-color: #232323;
  color: #E8E8E8;
}

.page3, .page2, .page1, .page0 {
   display: none;
}

#header-content {
   background-image: url(https://cdn.pixabay.com/photo/2015/02/19/14/16/old-paper-642132_960_720.jpg);
   box-shadow: inset 5px 5px 10px #232323;
   border-radius: 15px;
   padding: 2%;
   text-shadow: 2px 2px 3px #E8E8E8;
}

header {
   text-align: center;
   font-weight: bolder;
   font-family: cursive;
   font-size: 40px; 
}

#user-info {
   margin-top: 10px;
}

label {
   font-size: 25px;
   font-weight: bold
}

.text{
   text-shadow:1.5px 1.5px 2px#E8E8E8;
   font-size: 34px;
}

main {
   background-image: url(https://cdn.pixabay.com/photo/2015/02/19/14/16/old-paper-642132_960_720.jpg);
   margin-top: 50px;
   margin-bottom: 50px;
   padding: 20px;
   box-shadow: inset 5px 5px 10px #232323;
   color: #232323;
   text-shadow: 2px 2px 3px #BCBCBC;
   border-radius: 15px; 
 }

#input {
   margin-top: 20px;
   margin-left: 400px;
   position: relative;
}

#button {
   background-color: #232323;
   color: #E8E8E8;
   border-color: #E8E8E8;
}

#zip {
   margin-left: 50%;
   display: inline;
}

#contact-us {
  text-align: center;
  font-weight: bold;
}

#brewBtn:hover, #chewBtn:hover, button:hover {
   color: orangered;
}

tr:nth-child(odd) {
   color: #E8E8E8;
   background-color: #232323;
   opacity: .80;
}

#footer-info{
   background-image: url(https://cdn.pixabay.com/photo/2015/02/19/14/16/old-paper-642132_960_720.jpg);
   border-radius: 15px;
}